extends partial/layout

block container
    include mixins/post
    if page.archive
        include partial/tagcloud
    if page.category === 'slide'
        -console.log('slide help')
    +postList()

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
