if theme.gad
    .ad
        script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        ins.adsbygoogle(style="display:block" data-ad-client="#{theme.gad.client}" data-ad-slot="#{theme.gad.slot}" data-ad-format="auto")
        script (adsbygoogle = window.adsbygoogle || []).push({});
            
div.addthis_inline_share_toolbox
