script(src="/reveal.js/lib/js/head.min.js")
script(src="/reveal.js/js/reveal.js")

script.
    Reveal.initialize({
        markdown: {
            smartypants: true
        },
        dependencies: [
            { src: '/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            // Syntax highlight for <code> elements
            { src: '/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            // Zoom in and out with Alt+click
            { src: 'plugin/zoom-js/zoom.js', async: true },
            // Speaker notes
            { src: '/reveal.js/plugin/notes/notes.js', async: true },
            // MathJax
            { src: '/reveal.js/plugin/math/math.js', async: true }
        ]
    });
